<div class="container">
  <h1>Work experience</h1>
  <table>
    <tr>
      <th scope="row">Experience One</th>
      <td>
        PHP Project: Web application for the management of Administrators,
        Teachers, Students and subjects Perfect for an educational institution.
        Project developed in PHP and My SQL
      </td>
    </tr>

    <tr>
      <th scope="row">Experience Two</th>
      <td>
        Planner Travel: Mobile Application its function is to give tourists a
        guide to find places representatives that they could potentially visit
        such as restaurants, hotels, activities for perform, most visited sites
        in this case for Colombia.Project developed in Android Studio, Java and
        Authentication with Firebase.
      </td>
    </tr>

    <tr>
      <th scope="row">Experience Three</th>
      <td>
        Marurity Control: Web Application to be used by Supermarkets or similar
        Companies. The function The main one is the capture of product
        information for its storage in a database through barcode, then create
        alerts/notifications that anticipate the expiration of the same.Project
        Developed with the MEVN Mongodb Stack, Express.Js, Vue.js, Node.js.
      </td>
    </tr>

    <tr>
      <th scope="row">Experience Four</th>
      <td>
        Registry Tasks: Web application to manage pending or tares see the
        percentage of development of the themselves record edit or delete a task
        or its description. Project developed in Vue.js, Bootstrap5.
      </td>
    </tr>
  </table>
  <br /><br />

  <button class="button button1">
    <a [routerLink]="['/', 'family-reference']">Family reference</a>
  </button>
</div>
