<div class="container">
  <h1>Welcome to my Curriculum Vitae</h1>
  <br />
  <h2>I am</h2>
  <h2 class="text container">{{ name }}: Developer and QA Automation.</h2>
  <br /><br />
  <img src="./assets/images/andresggdeveloper250.png" /><br /><br />
  <h3>
    Hello! I am passionate about computing and
    programming. I characterize myself as a proactive person, providing optimal,
    intuitive and attractive technological solutions. Recognizing and
    successfully reflecting the needs of my clients, allowing both people and
    companies to digitize their projects and cross the gap into the digital age.
  </h3><br>

  <button><a [routerLink]="['/', 'personal-information']">CV</a></button
  ><br><br><br>
</div>

<router-outlet></router-outlet>
